<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  
  <%= stylesheet_link_tag :application %>
  
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>

</head>

<body id="store">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Pragmatic Bookshelf" %>
  </div>
  <div id="columns">
    <div id="side">
        <%= link_to "Home", root_url %><br />
        <%= link_to "Products", products_path %><br />
        <%= link_to "Cart", cart_path %>
      <%= Time.now %>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>

</body>
</html>
